@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-VariableFont_wght.ttf");
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0
}

body{
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    height: 100%;
    color: hsl(0, 0%, 100%);
    font-family: "Outfit";
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

main{
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    max-width: 300px;
    padding: 20px;
    height: 500px;
}

main aside{
    width: 100%;
    height:54%;
    position: relative;
}

main aside img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    border-radius: 8px;
    background-color: hsl(178, 100%, 50%);
}

main aside svg{
    position: absolute;
    justify-content: center;
    top: 100px;
    bottom: 0;
    left: 105px;
    right: 0;    
    opacity:0;
    transition: .5s ease;
}

main section{
    width: 100%;
}

main section header h1{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 14px 0;
    cursor: pointer;
    transition: .5s ease;
}

main section header p{
    color: hsl(215, 51%, 70%);
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
}

main section header article{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 14px 0
}

main section header article strong{
    color: hsl(178, 100%, 50%);
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section header article span{
    color: hsl(215, 51%, 70%);
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px
}

main section hr{
    background-color: hsl(215, 32%, 27%);
    border: none;
    height: 1px;
}

main section footer{
    display: flex;    
    gap: 15px;
    margin: 20px 0 0 0;
}

main section footer picture{
    border: 1px solid hsl(0, 0%, 100%);
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-image: url(./images/image-avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main section footer p{
    height: 40px;
    color: hsl(215, 51%, 70%);
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
}

main section footer a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    transition: .5s ease;
}

.attribution { 
    font-size: 16px; 
    text-align: center
}

.attribution a { 
    color: hsl(178, 100%, 50%); 
    text-decoration: none;
}

@media (hover: hover) {
    main aside:hover .overlay {
        opacity:60%;
        cursor: pointer;
    }
    
    main aside:hover svg {
        opacity:100%;
        cursor: pointer;
    }

    main section header h1:hover{
    color: hsl(178, 100%, 50%);
    }

    main section footer a:hover{
        color: hsl(178, 100%, 50%);
    }
}